## Bibliotecas

In [ ]:
#instala o pyodbc
!pip install pyodbc

In [ ]:
#importa pandas e pyodbc
import pandas as pd
import pyodbc

In [21]:
print(pyodbc.drivers())

['SQL Server', 'SQL Server Native Client RDA 11.0', 'ODBC Driver 17 for SQL Server', 'ODBC Driver 18 for SQL Server']

## Configurando conexão

In [30]:
# Conexão
try:
    dados_conexao = ('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=DESKTOP-9I30DAT;'
                      'Database=ContosoRetailDW;'
                      'Trusted_Connection=yes')
    
    conn = pyodbc.connect(dados_conexao)
    
    print("Conexão bem sucedida!")
except:
    print("Conexão falhou")
    

# 'Trusted_Connection=yes' loga no Servidor SQL com autenticação do windows

Conexão bem sucedida!

## Criando nossa query

In [31]:
query = '''
        select 
                * 
        from vw_base_previsao 
        '''
df = pd.read_sql(query, conn)

display(df.head(5))

C:\Users\PCvendas\AppData\Local\Temp\ipykernel_11676\2610533454.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,ID da Venda,Data da Venda,Ano,Mês,ID do Produto,Nome do Produto,Nome do Canal,Nome da Categoria,Nome da Subcategoria,Preço Unitário,Qtd. Vendida,Faturamento
0,1,02/01/2007,2007,January,956,A. Datum Point Shoot Digital Camera M500 Black,Store,Cameras and camcorders,Digital Cameras,198.0,8,1584.0
1,2,12/02/2007,2007,February,766,Contoso Battery charger - bike E200 Black,Reseller,Computers,Computers Accessories,19.9,4,79.6
2,3,24/01/2008,2008,January,1175,Fabrikam Budget Moviemaker 2/3'' 17mm E100 White,Store,Cameras and camcorders,Camcorders,410.0,9,3690.0
3,4,13/01/2008,2008,January,1429,The Phone Company Touch Screen Phones 4-Wire/O...,Online,Cell phones,Touch Screen Phones,289.0,8,2312.0
4,5,22/01/2008,2008,January,1133,"Fabrikam SLR Camera 35"" X358 Blue",Online,Cameras and camcorders,Digital SLR Cameras,436.2,24,10468.8

## Encerrando conexão

In [32]:
# encerrando a conexao
conn.close()